/* Selector de información */
.info-selector {
    position: absolute;
    top: 10px;
    left: 150px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.info-selector select {
    background: yellow;
    color: black;
    border: none;
    padding: 5px;
    font-weight: bold;
}

/* Posicionamiento de los botones de mapa */
.tabs-container {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
}

.tabs-container button {
    background-color: yellow;
    color: black;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.tabs-container button.active {
    background-color: orange;
}

/* Estilos para la línea de tiempo */
.timeline-container {
    position: absolute;
    top: 50px;
    left: 10px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.timeline-container input {
    background: yellow;
    color: black;
    border: none;
    padding: 5px;
    font-weight: bold;
}